<!DOCTYPE html>
<lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contacto</title>
    <link rel="shortcut icon" href="../ExamenIntegradorFrontEnd-Com24170-Grupo11/img/favicon.ico" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../ExamenIntegradorFrontEnd-Com24170-Grupo11/css/estilos_contacto.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>


    <!-- Contenedor Principal -->
    <div class="contenedor">

      <!-- Encabezado -->
      <header class="encabezado">
        <div class="encabezado-izq">
          <img src="../ExamenIntegradorFrontEnd-Com24170-Grupo11/img/AvionPapel.jpg" alt="Avión de papel" />
        </div>
        <div class="encabezado-centro">
          <img src="../ExamenIntegradorFrontEnd-Com24170-Grupo11/img/TravelTour.jpg" alt="Travel Tour" />
        </div>
        <div class="encabezado-der">
          <img src="../ExamenIntegradorFrontEnd-Com24170-Grupo11/img/AgenciaDeViajes.jpg" alt="Agencia de viajes" />
        </div>
      </header>

      <!-- Barra de Navegación -->
      <nav class="menu">
        <ul>
          <li><a href="../ExamenIntegradorFrontEnd-Com24170-Grupo11/index.html">Inicio</a></li>
          <li><a href="../ExamenIntegradorFrontEnd-Com24170-Grupo11/nosotros.html">¿Quiénes somos?</a></li>
          <li><a href="../ExamenIntegradorFrontEnd-Com24170-Grupo11/paquetes.html">Paquetes</a></li>
          <li><a href="../ExamenIntegradorFrontEnd-Com24170-Grupo11/contacto.html">Contacto</a></li>
        </ul>
      </nav>

    <h1>Modificar comentario</h1><br>

    <!-- Contenedor principal que será controlado por JavaScript. Este contenedor tendrá dos formularios. -->
    <div id="app">
        <!-- Primer formulario: Selector de producto. LLama a la función obtenerProducto cuando se envíe el formulario -->
        <form id="form-obtener-comentario">
            <label for="email">email:</label>
            <input type="text" id="email" required><br>
            <button type="submit">Modificar comentario</button> <a href="../ExamenIntegradorFrontEnd-Com24170-Grupo11/contacto.html">Menu contacto</a>
        </form>

        <!-- Segundo formulario: se muestra solo si mostrarDatosProducto es verdadero. Llama a la función guardarCambios -->
        <div class="formulario">
            <h1 id="formulario_titulo">Modifica tu comentario</h1>
            <br />
            <p id="formulario_subtitulo">
              Completa los datos y envianos tu consulta:
            </p>
            <br />
  
            <form action="" name="formulario" method="get">
              <!-- Formulario Nombre -->
              <label class="formulario_label" for="">Nombre:</label>
              <input
                type="text"
                name="nombre"
                id="nombre"
                maxlength="30"
                placeholder="Ingrese su nombre..."
                class="formulario_input"
              />
              <br /><br />
              <!-- Formulario Apellido -->
              <label class="formulario_label" for="">Apellido:</label>
              <input
                type="text"
                name="apellido"
                id="apellido"
                maxlength="30"
                placeholder="Ingrese su apellido..."
                class="formulario_input"
              />
              <br /><br />
              <!-- Formulario Email -->
              <label class="formulario_label" for="">Email:</label>
              <input
                type="text"
                name="email"
                id="email"
                maxlength="30"
                placeholder="Ingrese su email..."
                class="formulario_input"
              />
              <br /><br />
              <!-- Formulario Radio -->
              <div>
                <label for="">Origen del viaje:</label>
                <input type="radio" name="so" id='origen' value="baires" /> Buenos Aires
                <input type="radio" name="so" id='origen' value="cordoba" /> Córdoba
              </div>
              <br />
              <!-- Formulario Select -->
              <label class="formulario_label" id="formulario_select" for=""
                >Tipo de paquete:</label
              >
              <select
                name="interes"
                class="formulario_input"
                id="formulario_select"
              >
                <option  value="elegir">Elegir</option>
                <option id='paquete' value="inclusive">All Inclusive</option>
                <option id='paquete' value="playas">Playas</option>
                <option id='paquete' value="exoticos">Exóticos</option>
                <option id='paquete' value="invierno">Invierno</option>
              </select>
              <br />
              <!-- Formulario TextArea -->
              <label class="formulario_label" for="">Escriba su consulta:</label>
              <textarea
                name="textarea"
                id="comentario"
                cols="30"
                rows="5"
                class="formulario_input"
                placeholder="Escriba aquí..."
              ></textarea>
              <br /><br />
              <!-- Formulario Checkbox -->
              <label for="" class="formulario_checkbox">
                <input type="checkbox" name="terminos" id="terminos" />
                Acepto los Términos y Condiciones
              </label>
              <!-- Mensaje Obligatorio -->
              <p id="obligatorio">* Todos los campos son obligatorios.</p>
              <br />
              <!-- Formulario Botones -->
              <div class="formulario_botones">
                <input type="submit" id="b1" name="btn" value="Guardar cambios" />
                <input type="reset" id="reset" name="reset" value="Reset" />
              </div>
            </form>
          </div>
    <footer class="pie">
        <div>
          <p>Copyright © 2024 Travel Tour.</p>
        </div>
        <div class="iconos">
          <a
            href="https://www.facebook.com/TurismoNacionAR/?locale=es_LA"
            target="_blank"
            ><span class="fab fa-facebook" title="Ir a Facebook"></span
          ></a>
          <a
            href="https://www.instagram.com/turismonacionar/?hl=es"
            target="_blank"
            ><span class="fab fa-instagram" title="Ir a Instagram"></span
          ></a>
          <a href="https://x.com/TurismoNacionAR" target="_blank"
            ><span class="fab fa-twitter" title="Ir a Twitter"></span
          ></a>
          <a
            href="https://www.youtube.com/channel/UC3m5QCp-mE8PpdaA1zUrTuA"
            target="_blank"
            ><span class="fab fa-youtube" title="Ir a Youtube"></span
          ></a>
        </div>
      </footer>
    </div>
    <script>
         const URL = "http://127.0.0.1:5000/"
        // const URL = "https://juanpablocodo.pythonanywhere.com/"


        // Al subir al servidor, deberá utilizarse la siguiente ruta. USUARIO debe ser reemplazado por el nombre de usuario de Pythonanywhere
        //const URL = "https://USUARIO.pythonanywhere.com/"

        // Variables de estado para controlar la visibilidad y los datos del formulario
        let nombre = '';
        let apellido = '';
        let email = '';
        let origen = '';
        let paquete = '';
        let comentario = '';
        let mostrarDatosComentario = false;

        document.getElementById('form-obtener-comentario').addEventListener('submit', obtenercomentario);
        document.getElementById('form-guardar-cambios').addEventListener('submit', guardarCambios);

        // Se ejecuta cuando se envía el formulario de consulta. Realiza una solicitud GET a la API y obtiene los datos del producto correspondiente al código ingresado.
        function obtenerComentario(event) {
            event.preventDefault();
            email = document.getElementById('email').value;
            fetch(URL + 'comentarios/' + email)
                .then(response => {
                    if (response.ok) {
                        return response.json()
                    } else {
                        throw new Error('Error al obtener los datos del comentario.')
                    }
                })
                .then(data => {
                    nombre = data.nombre;
                    apellido = data.apellido;
                    email = data.email;
                    origen = data.origen;
                    paquete = data.paquete;
                    comentario = data.comentario;
                    mostrarDatosComentario = true; //Activa la vista del segundo formulario
                    mostrarFormulario();
                })
                .catch(error => {
                    alert('Email no encontrado.');
                });
        }

        // Muestra el formulario con los datos del producto
        function mostrarFormulario() {
            if (mostrarDatosComentario) {
                document.getElementById('nombre').value = nombre;
                document.getElementById('apellido').value = apellido;
                document.getElementById('email').value = email;
                document.getElementById('origen').value = origen;
                document.getElementById('paquete').value = paquete;
                document.getElementById('comentario').value = comentario;
            }
          }
        // Se usa para enviar los datos modificados del producto al servidor.
        function guardarCambios(event) {
            event.preventDefault();

            const formData = new FormData();
            formData.append('email', email);
            formData.append('nombre', document.getElementById('nombre').value);
            formData.append('apellido', document.getElementById('apellido').value);
            formData.append('email', document.getElementById('email').value);
            formData.append('origen', document.getElementById('origen').value);
            formData.append('paquete', document.getElementById('paquete').value);
            formData.append('comentario', document.getElementById('comentario').value);

            fetch(URL + 'comentarios/' + email, {
                method: 'PUT',
                body: formData,
            })
                .then(response => {
                    if (response.ok) {
                        return response.json()
                    } else {
                        throw new Error('Error al guardar los cambios del comentario.')
                    }
                })
                .then(data => {
                    alert('Comentario actualizado correctamente.');
                    limpiarFormulario();
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Error al actualizar el comentario.');
                });
        }

        // Restablece todas las variables relacionadas con el formulario a sus valores iniciales, lo que efectivamente "limpia" el formulario.
        function limpiarFormulario() {
            document.getElementById('nombre').value = '';
            document.getElementById('apellido').value = '';
            document.getElementById('email').value = '';
            document.getElementById('origen').value = '';
            document.getElementById('paquete').value = '';
            document.getElementById('comentario').value = '';

            nombre = '';
            apellido = '';
            email = '';
            origen = '';
            paquete = '';
            comentario = '';
            mostrarDatosProducto = false;

            document.getElementById('datos-comentario').style.display = 'none';
        }
    </script>
  </body>
</html>